@font-face {
    font-family: 'fsp-demo-freigeist-con-black-5';
    src: url(../Fontspring-DEMO-freigeist-conblack.otf);
  }
@font-face {
    font-family: 'Uncut-Sans';
    src: url(../Uncut-Sans-Regular.otf);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#passPortalContent{
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headtxt{
    display: flex;
    justify-content: center;
    gap: 15px;
    align-items: center;
}
.head{
    font-size:2.5vw;
    color:#39A279;
    font-family: 'fsp-demo-freigeist-con-black-5';
}
.belowtxt{
    color:white;
    font-family: 'Uncut-Sans';
    font-size:1.4vw;
}
.pass{
    padding-left:5vw;
    padding-right:5vw;
}
.passtxt{
    display: flex;
    flex-direction: column;
}
.passhead{
    color:white;
    font-family: 'fsp-demo-freigeist-con-black-5';
    font-size: 3vw;   
}
.download{
    height: 4vw;
    background: #39A279;
    color:#1E1E1E;
    border: none;
    padding: 0 2vw;
    border-radius: 5px;
    font-size: 1.3vw;;
    font-family: 'fsp-demo-freigeist-con-black-5';
}
.reg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    margin-top: 50px;
    padding:1vw;
    border-radius: 1vw;
    background: #F6D317;
    color:black;
    font-family: 'fsp-demo-freigeist-con-black-5';
    font-size: 2vw;
}

.pass-info{
    margin-top: 40px;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
}

.pass-info img[alt = 'QR Code Image']{
    height: 21vw; 
    object-fit: cover;
    object-position: 0% 0%; 
    width: 60vw;
    border: 2px solid white;
    border-radius: 5px;
}