{% extends "Redirecting_System/base.html" %}
{% load static %}
{% block title %}
<title>OTP verification | Alcheringa</title>
<link rel="stylesheet" href="{% static 'css/otp.css' %}">
{% endblock title %}

{% block page %}



<div id="passPortalContent">
    <div class="heading">
        <h1>ALCHERINGA</h1>
        <h3>Welcome to Alcheringa!! To start with your journey, We need to verify you.</h3>
    </div>
    
    <div id="verifyContainer">
        <div id="pass">
            <h2>VERIFY YOUR EMAIL ID</h2>
            <h4>Please enter your e-mail ID. A one-time-passcode will be sent on the same to verify your E-Mail ID.</h4>
        </div>
        <div id="emailVerifyBox">
            <div id="emailInput">
                <div id="bc">
                    <div class="einput">
                        <div id="email" style="display: none;">{{email}}</div>
                        <input type="email" class="vinput" name="email" autofocus required>
                        <img src="{% static 'img/Vector.png' %}" alt="">
                    </div>
                    <div class="timer">
                        <button id="resend">Resend OTP </button>
                        <span>in <span class="time">60 seconds</span> ...</span>
                    </div>
                </div>
                <button id="otpSend" class="button">SENT OTP</button>
            </div>
            <form action="{% url 'verify_otp' %}" method="POST" class="otpform">
                {% csrf_token %}
                <div id="otpInput">
                    <h2>OTP</h2>
                    <div class="alerts">
                        <h3 id="alt_wrongOtp"><img src="{% static 'svg/icon.svg' %}"> &nbsp; {{message}}</h3>
                    </div>
                    <div id="otpVerify">
                        <input type="number" class="dash" min="0" max="9" maxlength="1" required name = "otp">
                        <input type="number" class="dash" min="0" max="9" maxlength="1" required name = "otp">
                        <input type="number" class="dash" min="0" max="9" maxlength="1" required name = "otp">
                        <input type="number" class="dash" min="0" max="9" maxlength="1" required name = "otp">
                        <input type="number" class="dash" min="0" max="9" maxlength="1" required name = "otp">
                        <input type="number" class="dash" min="0" max="9" maxlength="1" required name = "otp">
                    </div>
                    <button type="submit" id="submitOtp" class="button" style="padding-right: 10px;" disabled>PROCEED &nbsp; <img style="height: 2.5vw; width: 2.5vw;" src="{% static 'svg/arrow.svg' %}"> </button>
                </div>
            </form>
            
        </div>
    </div>
</div>

<div class="popUp" id="alert">
    <div class="popUpHeader">
      <div class="popUptitle">IMPORTANT</div>
      <button data-close-button onClick={func} class="closeBtn">
        ×<div class="circle">×</div>
      </button>
    </div>
    <hr />
    <div class="popUpBody">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, quis culpa voluptatum porro earum veritatis alias exercitationem? Qui, ex sit.</p>
    </div>
</div>
<div id="overlay"></div>

{% endblock page %}


<!-- footer code starts -->

<!-- footer code ends -->

{% block script %}
<script>
   
    window.addEventListener('DOMContentLoaded', ()=>{
        let loader = document.querySelector('#preLoader');
        loader.style.display = 'none';
    })
    function timer(n){
        document.getElementById("resend").disabled = true;
        const interval = setInterval(()=>{
            if(n==0){
                clearInterval(interval)
                document.querySelector('.timer span').style.opacity = '0';
                document.getElementById("resend").disabled = false;
            }
            document.querySelector(".time").innerHTML = `${n} seconds`;
            n--;
        }, 1000)
        document.querySelector('.timer span').style.opacity = '100';
    }
    document.getElementById("resend").onclick = ()=>{
        timer(60);
        emailSubmitted();
    }
    const codes = document.querySelectorAll('.dash');
    // codes[0].focus()
    codes.forEach((code, idx)=>{
        code.addEventListener('keydown', (e)=>{
            if(e.key >=0 && e.key<=9){
                console.log(codes[idx].value);
                codes[idx].value = ''
                console.log(codes[idx].value);
                setTimeout(()=> codes[idx+1].focus(), 10)
            }else if(e.key === 'Backspace'){
                setTimeout(()=> codes[idx-1].focus(), 10)
            }
        })
    })

    let email = document.querySelector('.vinput');
    let otp_send = false;

    document.addEventListener('DOMContentLoaded', function (){
        const emailv = document.querySelector('#email').innerHTML;
        email.value = emailv;
    })
    function ResendOTP(){
        otp_send = false;
        const resend = document.getElementById('resendOTP');
        resend.classList.add('active');
    }
    document.querySelector('.vinput').addEventListener("input", ()=>{
        const emailReg = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,4})$/;
        const input = document.querySelector('#emailInput input');
        const vector = document.querySelector(".einput img");
        if((email.value).match(emailReg)){
            input.style.borderBottom = "2px solid #39A279";
            input.style.color = "#39A279";
            vector.style.display = "inline";
        }
        else{
            input.style.borderBottom = "2px solid #F4F4F4";
            input.style.color = "#F4F4F4";
            vector.style.display = "none"
        }
    })

    document.getElementById('otpSend').addEventListener('click', emailSubmitted);
    function emailSubmitted(){
        function validation(){
            const emailReg = /^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,4})$/;

            if(!(email.value).match(emailReg)){
                alert("Invalid Email");
                return false;
            } else{
                otp_send = true;
                document.querySelector('.timer').style.display = 'block';
                timer(60);
                setTimeout(ResendOTP, 60000);
                return true;
            }
        }
        
        if(validation()){
            fetch("{% url 'send_otp' %}",{
                method: "POST", 
                body: JSON.stringify({
                    email: email.value
                }),
                headers: {
                    "Content-type": "application/json; charset=UTF-8"
                }
            })
            const sendBtn = document.getElementById('otpSend');
            const proceed = document.querySelector('#submitOtp');
            const alert1 = document.querySelector('.alerts');
            alert1.innerHTML = "<h4 id='alt_otpSend'>Please enter the OTP, which has been sent on above mentioned e-mail address.</h4>"
            proceed.disabled = false;
            sendBtn.disabled = true;
            codes[0].focus()
            if(sendBtn.disabled){
                sendBtn.style.backgroundColor = "#585858";
            }
        }

    }
    document.body.addEventListener('keypress', (e)=>{
        console.log(e.key);
        if((e.key=="Enter")&& !otp_send){
            document.getElementById('otpSend').click();
        }
    })
    const alert2 = document.querySelector('#alt_wrongOtp');
    msg = "{{message}}"
    if(!msg){
        alert2.style.display = 'none';
        
    }
    else{
        codes[0].focus()
    }

    // document.querySelector('#submitOtp').addEventListener('click', submitOtp)

    function submitOtp(e) {
        e.preventDefault();
        // Get the OTP input values
        var otpValues = document.getElementsByName("otp");
        var otp = "";
        for (var i = 0; i < otpValues.length; i++) {
            otp += otpValues[i].value;
        }

        // Perform client-side validation
        var otp1 = parseInt('{{ otp1 }}');  // Pass the correct OTP value from the server
        var OTP = parseInt(otp);

        if (OTP === otp1) {
            // Correct OTP, proceed with the form submission
            document.getElementById("otpForm").submit();
        } else {
            // Incorrect OTP, show an alert
            document.getElementById("alt_wrongOtp").innerHTML = '<img src="{% static "svg/icon.svg" %}">&nbsp; Incorrect OTP. Please try again.';
        }
    }
 </script>  
{% endblock script %}
 